<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  <app-loader></app-loader>
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <app-add-event [categories]="categories"></app-add-event>
    </div>
    <div class="col-md-6">
      <app-add-category (onCategoryAdd)="newCategoryAdded($event)"></app-add-category>
    </div>
  </div>
  <div class="col-md-6">
    <app-edit-category [categories]="categories" (onCategoryEdit)="categoryWasEdited($event)"></app-edit-category>
  </div>
</section>
