<div class="main-wrapper">
  <div class="app">
    <!--HEADER-->
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <article class="content dashboard-page">
      <router-outlet></router-outlet>
    </article>
    <!--CONTENT-->
  </div>
</div>
